{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Home') }}
{% endblock %}

{% block body %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
{% endblock %}