<footer class="footer">
    <a
        href="https://www.sicot-development.fr/"
        target="_blank"
        rel="noopener noreferrer"
    >
        Powered by sicot-development
    </a>
    <a href="{{path('app_legal_notice')}}">Mention légal</a>
</footer>