@import "~bootstrap/scss/bootstrap";

:root {
  --maastricht_blue: #091C32;
  --UCLA_blue: #4A6488;
  --slate_gray: #767D92;
  --light_silver: #DBD3DA;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--maastricht_blue);
  color: var(--light_silver);
}

main {
  min-height: 75vh !important;
}

.max-img-custom{
  max-width: 300px;
  max-height: 300px;
}

@import 'header';
@import 'footer';

@import 'modal';

@import 'morpion';
@import 'candy_crush';
@import 'calculatrice';

@import 'rosetteTwitch';
@import 'tchat';

@import 'organisator';

@import 'mtg';
