{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Games') }}
{% endblock %}

{% block body %}

    <script>
        window.awsd_data = {{games|raw}};
    </script>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
{% endblock %}